<div class="text-center" id="footer">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Facebook</a>
          <a class="nav-link" href="#">Instagram</a>
          <a class="nav-link" href="#">Twitter</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Lakshan Radika Photography</h1>
      <p class="lead">123/A, Hospital Rd, Angoda.</p>
    </main>

  </div>
</div>
