<div class="bd-example" style="height: 100%">
  <div id="carouselExampleCaptions" class="carousel slide sticky-top" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" *ngFor="let x of carouselItems;let i = index" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let item of carouselItems; let k = index" [ngClass]="k == 0 ? 'item active' : 'item'" class="carousel-item">
        <img [src]="item.img" class="d-block w-100" [alt]="item.alt">
        <div class="carousel-caption d-none d-md-block" style="margin-bottom: 20vh">
          <h2>{{item.subject}}</h2>
          <button class="btn btn-lg" [ngClass]="item.buttonColor" style="width: 15vw">{{item.buttonName}}</button>
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>